

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
 .fakeimg {
    height: 200px;
    background: #aaa;
  }
  .mb-3 {

    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  }
  .card-title {

    text-align: center;
  }

  .text-muted {

  text-align: center;
 }

 .card-header{
  
  text-align: center;
 }
